<div class="left-menu col m2 hide-on-small-only">
    <h4>CMS</h4>
    <a class="menu white-text" href="/kntrblkg"><div class="side valign-wrapper red darken-4">Dasbor</div></a>
    <a class="menu white-text" href="/kntrblkg/guru"><div class="side valign-wrapper orange darken-3">Guru</div></a>
    <a class="menu white-text" href=""><div class="side valign-wrapper amber">Orang Tua</div></a>
    <a class="menu white-text" href=""><div class="side valign-wrapper green accent-4">Materi</div></a>
</div>