<header-blkg>
    <nav class="nav-wrapper transparent">
        <div>
            <a href="/kntrblkg" class="brand-logo">
                <h4 class="page-title black-text">BIA - Admin</h4>
            </a>
            <a href="" class="sidenav-trigger" data-target="mobile-menu">
                <i class="material-icons light-blue-text text-darken-2">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a class="menu light-blue darken-2" href="#">Logout</a></li>
            </ul>
            <ul class="sidenav white" id="mobile-menu">
                <a class="side menu <%if (sectionName === 'Dashboard') {%>red darken-4 white-text<%} else {%>red-text text-darken-4<%}%>" href="/kntrblkg"><li>Dashboard</li></a>
                <a class="side menu <%if (sectionName === 'Artikel') {%>orange darken-3 white-text<%} else {%>orange-text text-darken-3<%}%>" href="/kntrblkg/artikel"><li>Artikel</li></a>
                <a class="side menu <%if (sectionName === 'Ortu') {%>amber white-text<%} else {%>amber-text<%}%>" href="#"><li>User</li></a>
                <a class="side menu <%if (sectionName === 'Materi') {%>green accent-4 white-text<%} else {%>green-text text-accent-4<%}%>" href="#"><li>Materi</li></a>
                <a class="side menu light-blue-text text-darken-2" href="#"><li>Logout</li></a>
            </ul>
        </div>
    </nav>
</header-blkg>