<div class="left-menu col m2 hide-on-med-and-down">
    <div class="row">
        <div class="col"><h4>CMS</h4></div>
    </div>
    <div class="row">
        <a class="side menu valign-wrapper <%if (sectionName === 'Dashboard') {%>red darken-4 white-text<%} else {%>red-text text-darken-4<%}%>" href="/kntrblkg">Dasbor</a>
        <a class="side menu valign-wrapper <%if (sectionName === 'Guru') {%>orange darken-3 white-text<%} else {%>orange-text text-darken-3<%}%>" href="/kntrblkg/guru">Guru</a>
        <a class="side menu valign-wrapper <%if (sectionName === 'Ortu') {%>amber white-text<%} else {%>amber-text<%}%>" href="">Orang Tua</a>
        <a class="side menu valign-wrapper <%if (sectionName === 'Materi') {%>green accent-4 white-text<%} else {%>green-text text-accent-4<%}%>" href="">Materi</a>
    </div>
    
</div>