<header>
    <nav class="nav-wrapper transparent">
        <div>
            <a href="" class="brand-logo"><img class="logo" src="/imgs/BIA-logo.png" alt="BIA logo"></a>
            <a href="" class="sidenav-trigger" data-target="mobile-menu">
                <i class="material-icons light-blue-text text-darken-2">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a class="menu red darken-4" href="/">Beranda</a></li>
                <li><a class="menu orange darken-3" href="/artikel">Artikel</a></li>
                <li><a class="menu amber" href="#">Hubungi</a></li>
                <li><a class="menu green accent-4" href="#">Materi</a></li>
                <li><a class="menu light-blue darken-2" href="#">Login</a></li>
            </ul>
            <ul class="sidenav white" id="mobile-menu">
                <li><a class="menu red darken-4 white-text" href="/">Beranda</a></li>
                <li><a class="menu orange darken-3 white-text" href="/artikel">Artikel</a></li>
                <li><a class="menu amber white-text" href="#">Hubungi</a></li>
                <li><a class="menu green accent-4 white-text" href="#">Materi</a></li>
                <li><a class="menu light-blue darken-2 white-text" href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</header>