<content>
    <section class="container">
        <div class="row">
            <div class="col s12">
                <h1>Bahasa Inggris Anak Homepage</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <p>Material is the metaphor
                    The metaphor of material defines the relationship between space and motion. The idea is that the
                    technology is inspired by paper and ink and is utilized to facilitate creativity and innovation.
                    Surfaces and edges provide familiar visual cues that allow users to quickly understand the
                    technology
                    beyond the physical world.</p>
            </div>
            <div class="col s12 m4">
                <p>Bold, graphic, intentional
                    Elements and components such as grids, typography, color, and imagery are not only visually
                    pleasing,
                    but also create a sense of hierarchy, meaning, and focus. Emphasis on different actions and
                    components
                    create a visual guide for users.</p>
            </div>
            <div class="col s12 m4">
                <p>Motion provides meaning
                    Motion allows the user to draw a parallel between what they see on the screen and in real life.
                    By
                    providing both feedback and familiarity, this allows the user to fully immerse him or herself
                    into
                    unfamiliar technology. Motion contains consistency and continuity in addition to giving users
                    additional
                    subconscious information about objects and</p>
            </div>
        </div>
    </section>
</content>