<content>
    <section class="container">
        <div class="row">
            <div class="col s12">
                <h1>Bahasa Inggris Anak Homepage</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <p>Belajar bahasa Inggris sejak dini adalah cara paling efektif untuk membiasakan penguasaan kata, kalimat, maupun memperkenalkan struktur dalam bahasa Inggris kepada anak. Anda dapat menggunakan materi belajar bahasa Inggris untuk memudahkan anak Anda menguasai bahasa baru.</p>
            </div>
            <div class="col s12 m4">
                <p>Phonics adalah salah satu cara terbaik untuk mengajarkan anak-anak untuk membaca dalam bahasa Inggris. Karena pelafalan dalam bahasa Inggris tidaklah sesederhana pelafalan dalam bahasa Indonesia.</p>
            </div>
            <div class="col s12 m4">
                <p>Situs ini menyediakan artikel untuk guru dan orang tua untuk tips-tips dan materi untuk mengajari anak bahasa Inggris dengan pelbagai cara dan aktivitas yang menyenangkan. Selamat menikmati.</p>
            </div>
        </div>
    </section>
</content>