<content>
  <section class="container">
    <div class="row">
      <div class="col s12">
        <h1><%=items.Title%></h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a href="/artikel" class="btn">Kembali</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%-items.Artikel %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a href="/artikel" class="btn">Kembali</a>
      </div>
    </div>
  </section>
</content>