<content>
    <section class="container">
        <div class="row">
            <div class="col s12">
                <h1>Bahasa Inggris Anak <%=sectionName%></h1>
            </div>
        </div>
        <div class="row">
            <%items.forEach((item,idx) => {%>
                <div class="row">
                    <div class="col s12 m6">
                      <div class="card">
                        <div class="card-image">
                          <img src="<%=item.Image%>">
                          <span class="card-title"><%=item.Title%></span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">more</i></a>
                        </div>
                        <div class="card-content">
                          <p><%=item.Artikel.replace(/(<([^>]+)>)/ig, "").substr(0,100)%>...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                
                <%})%>
        </div>
    </section>
</content>