<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Bahasa Inggris Anak - Admin - <%=sectionName%></title>
</head>

<body>
    Listing Page untuk <%=sectionName%>
</body>

</html>