<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Bahasa Inggris Anak - <%=sectionName%></title>
</head>

<body>
    Content untuk <%=sectionName%>
    urlTitle = <%=urlTitle%>
</body>

</html>