@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Andika&family=Balsamiq+Sans&family=Comic+Neue:wght@300;400;700&family=Delius&family=Handlee&family=Patrick+Hand&family=Questrial&family=Quicksand:wght@300;400;500&display=swap');

/* *{
    border: 1px solid gold;
} */

html {
    font-size: 16px;
    text-align: justify;
    font-family: 'ABeeZee', sans-serif;
    /* font-family: 'Handlee', cursive; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Delius', cursive;
}

h1 {
    font-size: 3.5rem;
}

.menu {
    /* font-family: 'Andika', sans-serif; */
    font-family: 'Balsamiq Sans', cursive;
}

header {
    background: url("/imgs/header.png");
    background-size: cover;
    background-position: center;
    min-height: 250px;
}

.logo {
    height: 60px;
    object-fit: contain;
}

@media only screen and (max-width: 700px) {
    .logo {
        height: 60px;
        width: 95px;
        object-position: 0 0;
        object-fit: cover;
    }
}