@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Andika&family=Balsamiq+Sans&family=Comic+Neue:wght@300;400;700&family=Delius&family=Handlee&family=Patrick+Hand&family=Questrial&family=Quicksand:wght@300;400;500&display=swap');

/* *{
    border: 1px solid gold;
} */

html {
    font-size: 16px;
    text-align: justify;
    font-family: 'ABeeZee', sans-serif;
    /* font-family: 'Handlee', cursive; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Delius', cursive;
    margin: 0.6rem 0 0.6rem 0;
}

h1 {
    font-size: 3.5rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

.hr {
    height: 2px;
    margin: 0px 0 10px 0;
}

.menu {
    font-family: 'Balsamiq Sans', cursive;
}

.left-menu {
    height: 100%;
}

.side {
    height: 50px;
    padding-left: 0.75rem;
}

.side:hover {
    height: 50px;
    background-color: rgb(229,229,229);
}

header {
    background: url("/imgs/header.png");
    background-size: cover;
    background-position: center;
    min-height: 250px;
}

.logo {
    height: 60px;
    object-fit: contain;
}

.page-title {
    vertical-align:middle;
}

@media only screen and (max-width: 700px) {
    .logo {
        height: 60px;
        width: 95px;
        object-position: 0 0;
        object-fit: cover;
    }
    h1,h2,h3,h4,h5,h6 {
        margin: 0.6rem 0 0.6rem 0;
    }
}