<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/fe-head.ejs') %>
    <title>Bahasa Inggris Anak - Hubungi Kami</title>
</head>

<body>
    <%- include('../partials/fe-top-menu-min.ejs') %>
    <div class="container">
        <form class="col">
            <div class="modal-content">
                <h4>Hubungi Kami</h4>
                <br />
                <div class="row">
                    <div class="input-field">
                        <input id="nama" name="nama" type="text" class="validate" required=""
                            aria-required="true">
                        <label for="nama">Nama</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="email" name="email" type="email" class="validate" required="" aria-required="true">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <textarea id="pesan" name="pesan" class="materialize-textarea" required="" aria-required="true"></textarea>
                        <label for="pesan">Pesan</label>
                    </div>
                </div>
            </div>
            <div>
                <a href="/" class="btn">Batal</a>
                <button class="btn" type="submit"><i class="material-icons right">send</i> Kirim</button>
            </div>
        </form>
    </div>
    <%- include('../partials/fe-js-bottom.ejs') %>
</body>

</html>