<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='icon' href='/imgs/BIA-favicon.png' type='image/x-icon' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Bahasa Inggris Anak</title>
</head>

<body>
    <header>
        <nav class="nav-wrapper transparent">
            <div>
                <a href="" class="brand-logo"><img class="logo" src="/imgs/BIA-logo.png" alt="BIA logo"></a>
                <a href="" class="sidenav-trigger" data-target="mobile-menu">
                    <i class="material-icons light-blue-text text-darken-2">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="menu red darken-4" href="/">Beranda</a></li>
                    <li><a class="menu orange darken-3" href="#">Guru</a></li>
                    <li><a class="menu amber" href="#">Orang Tua</a></li>
                    <li><a class="menu green accent-4" href="#">Materi</a></li>
                    <li><a class="menu light-blue darken-2" href="#">Hubungi</a></li>
                </ul>
                <ul class="sidenav white" id="mobile-menu">
                    <li><a class="menu red darken-4 white-text" href="/">Beranda</a></li>
                    <li><a class="menu orange darken-3 white-text" href="#">Guru</a></li>
                    <li><a class="menu amber white-text" href="#">Orang Tua</a></li>
                    <li><a class="menu green accent-4 white-text" href="#">Materi</a></li>
                    <li><a class="menu light-blue darken-2 white-text" href="#">Hubungi</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <content>
        <section class="container">
            <div class="row">
                <div class="col s12">
                    <h1>Bahasa Inggris Anak Homepage</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <p>Material is the metaphor
                        The metaphor of material defines the relationship between space and motion. The idea is that the
                        technology is inspired by paper and ink and is utilized to facilitate creativity and innovation.
                        Surfaces and edges provide familiar visual cues that allow users to quickly understand the
                        technology
                        beyond the physical world.</p>
                </div>
                <div class="col s12 m4">
                    <p>Bold, graphic, intentional
                        Elements and components such as grids, typography, color, and imagery are not only visually
                        pleasing,
                        but also create a sense of hierarchy, meaning, and focus. Emphasis on different actions and
                        components
                        create a visual guide for users.</p>
                </div>
                <div class="col s12 m4">
                    <p>Motion provides meaning
                        Motion allows the user to draw a parallel between what they see on the screen and in real life.
                        By
                        providing both feedback and familiarity, this allows the user to fully immerse him or herself
                        into
                        unfamiliar technology. Motion contains consistency and continuity in addition to giving users
                        additional
                        subconscious information about objects and</p>
                </div>
            </div>
        </section>
    </content>
    
    <i class="material-icons">help</i>
    <script scr="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
</body>

</html>