<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/fe-head.ejs') %>
    <title>Bahasa Inggris Anak</title>
</head>

<body>
    <%- include('../partials/fe-header-menu.ejs') %>
    
    <%- include('../partials/'+page,{sectionName, items}) %>
    
    <%- include('../partials/fe-js-bottom.ejs') %>
</body>

</html>