<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/fe-head.ejs') %>
    <title>Bahasa Inggris Anak</title>
</head>

<body>
    <%- include('../partials/fe-top-menu.ejs', {name: 'Kyle'}) %>

    <%- include('../partials/'+page,{sectionName, items}) %>

    <%- include('../partials/fe-js-bottom.ejs') %>
</body>

</html>